<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HEAD -->
<%- include('components/_head'); -%>
    <!-- !HEAD -->

    <title>Locadora | Home</title>
</head>
<body>
    <!-- HEADER -->
<%- include('components/_header'); -%>
    <!-- !HEADER -->

    <section id="main-content">
        <h1>Bom diaa!</h1>
    </section>

    <!-- FOOTER -->
<%- include('components/_footer'); -%>
    <!-- !FOOTER-->
</body>
</html>