    <header>
        <nav class="navbar navbar-dark">
            <div style="width: 10%;"></div>

            <!-- logotipo -->
            <a href="/">
                <span class="mb-0 h1">Locadora</span>
            </a>

            <!-- foto perfil e opções -->
            <div style="width: 10%; justify-content: center; display: flex;">
                <div class="btn-group">
                    <button type="button" class="btn bg-transparent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/assets/icons/perfil-icon.png" alt="" width="40" height="40">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <span class="dropdown-item-text" style="font-size: 1rem !important;">Nome da Conta</span>
                    <div class="dropdown-divider"></div>
                        <button class="dropdown-item" type="button">Editar Perfil</button>
                        <button class="dropdown-item" type="button">Sair</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
