    <header>
        <nav class="navbar navbar-dark">
        <div style="width: 10%;"></div>
        
        <!-- logotipo -->
        <a href="#">
            <span class="mb-0 h1">Locadora</span>
        </a>

        <div style="width: 10%;"></div>
        </nav>
    </header>